@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 48vh;
    width: 100vw;
    background-color: rgb(49, 49, 49);
    text-align: center;
}

header > h1 {
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
    font-size: 2.2em;
}

.dipa {
    color: white;
    max-width: 700px;
    min-width: 100px;
    height: 100px;
    margin: auto auto;
}

header > p {
    color: white;
    font-size: 1.2em;
    text-align: center;
}

header > button {
    margin-top: 30px;
    font-size: 1.1em;
    width: 160px;
    height: 60px;
    color: white;
    background-color: rgb(49, 49, 49);
    border: 1px solid rgb(94, 94, 94);
}

header > button:hover {
    color: rgb(49, 49, 49);
    background-color: rgb(223, 222, 222);
    cursor: pointer;
}

section > h1 {
    text-align: center;
    padding-top: 26px;
    font-size: 1.7em;
}

.duas {
    width: 100vw;
    background-color: white;
    min-height: 24.5vh;
}

.paragrafo {
    margin-top: 20px;
    margin-bottom: 30px;
    display: inline;
}

div > p {
    padding: 20px;
    text-align: center;
    font-size: 1.1em;
}

.imagens {
    width: 100vw;
    background-color: rgb(49, 49, 49);
    height: 600px;
    text-align: center;
}

.imagens > div {
    display: block;
    background-color: white;
}

.imagens > div > img {
    width: 16vw;
}

.site {
    margin: 30px;
    width: 300px;
    height: 500px;
    background-image: url('imagens/web.jpeg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}


.app {
    margin: 30px;
    width: 300px;
    height: 500px;
    background-image: url('imagens/web.jpeg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}